body{
    background-color: #1D3557;

    padding: 1%;
    margin: auto;
}



/* Container Styles */

.container{
    background-color: #F1FAEE;
    padding: 1em 2em;
    margin: 0em 5em 0em 5em;

    box-shadow: 5px 5px 50px grey;
}

/* Main Blocks */


section{
    display: inline-block;
    width: 45%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 1em 10em 1em;
}

#right-block{
    text-align: right;
    /* height: 10%;
    width: auto;
    object-fit: contain; */
}

/* Nav Bar */

#ul-nav{
    list-style-type: none;
    
    padding-left: 1%;
}

li{
    display: inline;
}

/* Main Image */

#main-pic{
    width: 100%;
    height: 50%;
    object-fit: contain;
}