body{
    background-color: #DEE2E6;
    margin: 2% 5%;

    box-shadow: 5px -10px 50px #ADB5BD;
}
/* Container Styles */
.container{
    background-color: #F8F9FA;
    padding: 1% 2%;
}

/* Main Blocks */
section{
    display: inline-block;
    width: 45%;

    position: relative;

}

/* Nav Bar */

nav{
    text-align: left;
}

ul{
    list-style-type: none;
    padding-left: 0%;
}

#ul-nav > li{
    display: inline-block;
}

li > a{
    text-decoration: none;
}

/* Social Icons */

#ul-icons > li{
    display: inline-block;
}

.icons{
    text-align: right;
}


/* Main Image */

#main-pic{
    position: relative;
    width: 100%;
}